<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<include file="$(find ublox_gps)/launch/ublox_device.launch"></include>
	<node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">

		<!-- ngii SSRG only success -->
		<!-- 
		<param name="rtcm_topic" value="/ublox_gps/rtcm"/>
		<param name="ntrip_server" value="fkp.ngii.go.kr:2201"/>
		<param name="ntrip_user" value="tjdwns8574"/>
		<param name="ntrip_pass" value="ngii"/>
		<param name="ntrip_stream" value="SSRG"/>
		-->
		<!-- VRS: VRS_V32,FKP_V31 SSR: SSRG -->

		<!-- gnss seoul -->
		<param name="rtcm_topic" value="/ublox_gps/rtcm"/>
		<param name="ntrip_server" value="gnss.eseoul.go.kr:2101"/>
		<param name="ntrip_user" value="seoul"/>
		<param name="ntrip_pass" value="seoul"/>
		<param name="ntrip_stream" value="SONP-RTCM32"/>

		<!-- 송파 -->
		<!-- <param name="ntrip_stream" value="SONP-RTCM31"/> -->
		<!-- 용산 -->
		<!-- <param name="ntrip_stream" value="YONS-RTCM31"/> -->
		<!-- VRS -->
		<!-- <param name="ntrip_stream" value="VRS-RTCM32-M5"/> -->

		<!-- 국토지리정보원서버 -->
		<!-- <param name="rtcm_topic" value="/ublox_gps/rtcm"/>
		<param name="ntrip_server" value="RTS2.ngii.go.kr:2101"/>
		<param name="ntrip_user" value="clabil123"/>
		<param name="ntrip_pass" value="ngii"/>
		<param name="ntrip_stream" value="VRS-RTCM32"/> -->
		<!-- <param name="ntrip_stream" value="SSR-SSRG"/> -->

		<!-- GNSSDATA site test -->
		<!-- <param name="rtcm_topic" value="/ublox_gps/rtcm"/>
		<param name="ntrip_server" value="www.gnssdata.or.kr:2101"/>
		<param name="ntrip_user" value="xlsxlsdh@nate.com"/>
		<param name="ntrip_pass" value="gnss"/> -->
		<!-- <param name="ntrip_stream" value="SONP-RTCM31"/> -->

		<!-- 수원국토지리정보원 -->
		<!-- <param name="ntrip_stream" value="SUWN-RTCM31"/> -->

		<!-- 천문연구원 -->
		<!-- <param name="ntrip_stream" value="SKMA-RTCM30"/> -->
		
		<!-- <param name="nmea_gga" value="$GNGGA,002832.00,3729.09615,N,12707.33690,E,2,12,0.51,18.2,M,18.8,M,,0000*7F"/> -->
		<param name="nmea_gga" value="$GNGGA,002832.00,3748.42930,N,12711.44029,E,2,12,0.51,18.2,M,18.8,M,,0000*7F"/>
	</node>

	<param name="m_bSingle_TF_option" type="bool" value="true" /> <!--false-->
  	<!-- <node pkg="iahrs_driver" type="iahrs_driver" name="iahrs_driver" output="screen" /> -->

    <!-- <node name="record" pkg="rosbag" type="record" args="-o $(find wgs_to_utm)/bag/bag -a">
    </node> -->

	<!-- <node pkg="docking_load" type="ekf_ins.py" name="ekf_ins" output="screen">
	</node> -->

    <!-- <node name="record" pkg="rosbag" type="record" args="-o $(find wgs_to_utm)/bag/bag
		/imu/data
		/ublox_gps/fix
		/ublox_gps/fix_velocity
		/ublox_gps/monhw
		/ublox_gps/navclock
		/ublox_gps/navposecef
		/ublox_gps/navpvt
		/ublox_gps/navsat
		/ublox_gps/navstatus
		/ublox_gps/rtcm
		/ublox_gps/rxmrtcm">
    </node> -->

</launch>

